.icon-clock {
  padding-right: 5px;
}

.icon-container {
  font-size: 20px;
}

.bi-star {
  color: #256799;
  cursor: pointer;
}

.bi-star-fill {
  color: orange;
  cursor: pointer;
}

.bi-trash:hover {
  cursor: pointer;
  color: red;
}
